*{
    margin: 0px;
    padding: 10px 4px;
    box-sizing: border-box;
}

.body-text{
    display: flex;
    font-family: "Montserrat" , sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #6FB2B8;
    font-family: "Montserrat" , sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links li {
    list-style: none;
}

.nav-links {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    padding: 24px 24px;
}

.nav-links li a:hover:not(.active) {
    background-color: lightseagreen;
}

.nav-links li a.active {
    background-color: rgb(47, 213, 255);
}




