<!--CSS file:-->

.navbar

<head> 
    link rel="test" type="text/css" href="css/navbar.css"
</head>


<style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: lightgray;
            }
            
            li {
              float: left;
              border-right:1px solid #bbb;
            }
            
            
            
            li a {
              display: block;
              color: blue;
              font-size: 15px;
              text-align: center;
              padding: 14px 18.65px;
              text-decoration: none;
            }
            
            li a:hover:not(.active) {
              background-color: #111;
            }
            
            .active {
              background-color: #04aa36;
            }
            </style>
            </head>
            <body>
            
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#training_schedule">Training Schedule</a></li>
              <li><a href="#upcoming_races">Upcoming Races</a></li>
              <li><a href="#past_races">Past Races</a></li>
              <li><a href="#become_a_member">Become A Member</a></a></li>
              <li><a href="#junion_division">Junior Divison</a></li>
              <li><a href="#contact_us">Contact Us</a></li>
            </ul>
            
            </body>
    </style>